
/* Utility classes
   ========================================================================== */
/**
 * Classes with one purpose only used for utility
 */

.u-vertCenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}