@import 'https://fonts.googleapis.com/css?family=Fondamento|Lato';

@import './_normalize';
@import '../modules/_variables';
@import '../modules/_utils';
@import './_header';
@import './_footer';

body {
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

.contentWrapper {
    position: relative;
    top: $height_topBarHeight;
}