@import 'https://fonts.googleapis.com/css?family=Fondamento|Lato';

@import '../modules/_variables';

@import './_normalize';
@import './_header';

body {
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

.contentWrapper {
    position: relative;
    top: $height_topBarHeight;
    width: 100%;
    height: 1000px;
}