.topBar {
    background: gray;
    color: white;
    font-size: 24px;
    height: $height_topBarHeight;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}
    .topBar_menuBtn {
        background: gray;
        border: 1px solid white;
        border-radius: 2px;
        margin-left: $margin_large;
        position: absolute;
        top: 50%; // Center based on top
        transform: translateY(-50%); // Pull back up half of height to center by middle

        &:hover {
            cursor: pointer;
        }
    }
    .topBar_brand {
        float: right;
        font-family: 'Fondamento', cursive, serif;
        line-height: $height_topBarHeight;
        margin-right: $margin_large;
    }

.sidebarWrapper {
	height: 100%;
	left: 0;
	position: fixed;
	overflow-x: hidden;
	top: 0;
	transition: all 0.2s ease;
	width: 0;
    z-index: 2; // Higher priority for click events

    &.js-visible {
        width: $width_sidebarWidth;
    }
}

.sidebar {
    background: gray; // placeholder
    color: white; // placeholder
}
    .sidebar_nav {
        padding: 0;
    }
        .sidebar_nav_item {
            padding: $padding_small 0 $padding_small $padding_large;

            &:hover {
                background: white;
                a {
                    color: gray;
                }
            }

            a {
                color: white;
                text-decoration: none;
            }
        }
            .nav_item_subMenu {
                transition: all 0.2s ease;
                
                &.js-hidden {
                    display: none;
                }

                &.js-visible {
                    display: block;
                }
            }
                .subMenu_nav_item {
                    padding: $padding_small/2 0;
                }
    .sidebar_header {
        border-bottom: 2px solid white;
        border-top: 2px solid white;
        font-size: 20px;
        margin: $height_topBarHeight $margin_large 0 $margin_large;
        padding: $padding_small 0;
    }