div.topBar
    i.fa.fa-bars.topBar_menuBtn
    a.topBar_brand Fullmetal Photography
nav.sidebarWrapper.sidebar
    header.sidebar_header Menu
    ul.sidebar_nav
        li.sidebar_nav_item 
            a(href="#") Home
        li.sidebar_nav_item 
            a(href="#") Home
        li.sidebar_nav_item 
            a(href="#") Home
        li.sidebar_nav_item 
            a(href="#") Home
        li.sidebar_nav_item 
            a(href="#") Home